:root {
  --fuente-principal-regal: "PFRegalDisplayPro";
  --fuente-secundaria-grotesque: "Brandon-Grotesque-Font-Family";
}

@font-face {
  font-family: "PFRegalDisplayPro";
  src: url("PFRegalDisplayPro/PFRegalDisplayPro-Regular.ttf") format("truetype"),
    url("PFRegalDisplayPro/PFRegalDisplayPro-Medium.ttf") format("truetype"),
    url("PFRegalDisplayPro/PFRegalDisplayPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon-Grotesque-Font-Family";
  src: url("Brandon-Grotesque-Font-Family/brandon-grotesque-light-58a8a4b38001d.otf")
      format("opentype"),
    url("Brandon-Grotesque-Font-Family/brandon-grotesque-black-58a8a3e824392.otf")
      format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-secundaria-grotesque);
}

html {
  /* overflow-x: hidden; */
  /* desactivar el hidden x en el devtool solo uso este hidden para pruebas */
  /* scroll-snap-type: y mandatory; */
}

body {
}

.seccion_inicio {
  /* scroll-snap-align: start; */
  width: 100%;
  height: 100vh;
  background-image: url(images/hotel.png),
    linear-gradient(180deg, #000000d3 0%, #7e7e7ed4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
  overflow-x: hidden;
  background-blend-mode: overlay;
}

a {
  text-decoration: none;
  color: #7e7e7e;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  background-color: #7e7e7e38;
  border-bottom: 0.0313rem solid #ffffff;
  font-size: 1rem;
}

.navegador {
  display: flex;
  align-items: center;
}

.navegador a {
}

.inicio_registro {
  display: flex;
}

.login {
  padding: 0 1.5625rem;
  border-right: solid 1px #ffffffb6;
}

.signup {
  padding: 0 1.5625rem;
  color: #fff;
}

.idiomas {
  display: flex;
}

.esp {
  padding-right: 1.5625rem;
  padding-left: 5rem;
}

.eng {
  padding-right: 1.5625rem;
  padding-left: 1rem;
  color: #fff;
}

.logo {
  display: grid;
  place-content: center;
  padding-left: 3.125rem;
}

.logo_uniqluxury {
  width: calc(266px * (1536 / 1920));
  height: calc(23.89px * (864 / 1080));
  object-fit: contain;
}

.logo_mobile {
  display: none;
}

.menu_icon {
  padding: 1.25rem 1.875rem;
  margin: 0.625rem 0;
  border-left: solid 1px #ffffffb6;
}

.menu_icon img {
  width: calc(45px * (1536 / 1920));
  height: calc(30px * (864 / 1080));
  object-fit: contain;
}

main {
  height: 100vh;
  /* Necesario para que el grid ocupe el tamano de la vista y tambien funciona con 100% */
  display: grid;
  grid-template: repeat(6, 1fr) / 7.161458% repeat(10, 1fr) 7.161458%;
  gap: 1rem 1rem;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  grid-area: 2 / 1 / 5 / 1;
  /* Con fixed nuevamente hay q acomodarlo!  */
  position: fixed;
  top: 21.875rem;
  z-index: 1;
}

.follow {
  /* La proxima tratar con otra tag q no sea span o probar como colocar un display: inline-block a span  */
  transform: rotate(90deg);
  padding: 1.7rem;
  color: #7e7e7e;
  font-weight: 900;
}

.divisor {
  width: 0.0313rem;
  height: 6.25rem;
  background-color: #7e7e7e;
  margin-top: 0.3rem;
}
.redes_sociales a {
  display: flex;
  flex-direction: column;
  padding: 0.3125rem;
}
.redes_sociales img {
  width: 0.9375rem;
  height: 0.9375rem;
  object-fit: contain;
}

.buscador {
  grid-column: 9 / 12;
  grid-row: 2 / 4;
  align-self: flex-end;
  height: 50%;
}

.buscador input {
  border: 1px solid #fff; /* none quita el borde predeterminado */
  outline: none; /* Quita el contorno al hacer clic en el input */
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: 20px;
  font-weight: 390;
  border-radius: 100px;
  padding-top: 0.625rem;
  padding-right: 3rem;
  padding-bottom: 0.625rem;
  padding-left: 1.875rem;
}

form#form_1 ::placeholder {
  font-size: 16px;
  text-align: left;
  color: #fff;
}

#search:focus::placeholder {
  color: transparent;
}

input[type="text"][id="search"] {
  background-image: url(src/lupa.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  /* prefiero una posicion relativa % a una absoluta px o rem */
  background-size: 1.0625rem;
  color: #fff;
  width: 100%;
}

.contenedor_titulo {
  grid-area: 5 / 2 / 6 / 6;
  width: fit-content;
}

.titulo {
}

.titulo p {
  color: #b4b7b7;
  font-family: var(--fuente-principal-regal);
  font-size: 40px;
  font-weight: 400;
}

.titulo h1 {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: 80px;
  font-weight: 500;
}

.btn a {
  display: block;
  /* width: fit-content; */
  width: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 390;
  border-radius: 100px;
  border: 1px solid #fff;
  padding-top: 2.380952%;
  padding-right: 12.896825%; /* 65px/504px */
  /* 504px es la medida en ancho del contenedor titulo q contiene el titulo y el boton. Y esta medida se uso para anchura y altura. Y se usa 504 porque la etiqueta a del btn tiene comportamiento de bloque que se expande por las columnas asignadas en la grilla*/
  /* padding-left: 9.896825%; */
  padding-bottom: 2.380952%;
  margin-top: 5.952381%; /* 30px/504 */
  text-align: center;
}

.btn a::before {
  content: url("src/forward_arrow.svg");
  margin-right: calc(30px * (1536 / 1920));
}

/* ------------- Seccion 2 ------------ */

.propiedades_renta_1 {
  margin-top: 9.375rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.presentacion_derecha {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-columns: 1fr;
}

.texto_derecha {
  margin: 0 14.322917%;
  /* Dividir la medida de 110 píxeles deseados para margin por el ancho del contenedor de 768 píxeles (resultado de del flex de 50% y 50% de una pantalla de 1536px) y luego multiplicar por 100 para obtener el porcentaje equivalente. */
  text-align: right;
  grid-row: 1 / 2;
}

.titulo_derecha {
  color: #df991b;
  font-family: var(--fuente-principal-regal);
  font-size: calc(40px * (1536 / 1920));
  font-weight: 400;
}

.titulo_h2 {
  color: #000;
  font-family: var(--fuente-principal-regal);
  font-size: calc(80px * (1536 / 1920));
  font-weight: 500;
}

.prev {
  display: flex;
}

.prev a {
  color: #b4b7b7;
  font-size: calc(20px * (1536 / 1920));
  font-weight: 390;
  padding-right: 12px;
}

.prev img {
  padding-right: 0.625rem;
}

.view_properties a {
  color: #000;
  font-size: calc(30px * (1536 / 1920));
  font-weight: 390;
  border-radius: 100px;
  border: 1px solid #000;
  padding: 12px 40px;
}

.next {
  display: flex;
}

.next a {
  color: #df991b;
  font-size: calc(20px * (1536 / 1920));
  font-weight: 390;
  padding-left: 12px;
}

.next img {
  padding-left: 0.625rem;
}

.presentacion_izquierda {
}
.galeria_1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.contenedor_galeria {
  grid-column: span 6;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  overflow: hidden;
}

.contenedor_imagen {
  position: relative;
}

.galeria_1 img {
  display: block;
  margin: 0 auto;
  max-width: calc(407px * (1536 / 1920));
  /* max-width: 100% Solo para responsive; */
}

.localidad {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.localidad {
  background-color: #00000053;
  padding-left: 1.875rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.ps_y_prv {
  display: flex;
  gap: 10px;
}

.img_disp {
  display: none;
}

.icons_rent {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.pais {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: calc(30px * (1536 / 1920));
  font-weight: 400;
  display: block;
  width: 100%;
  align-self: flex-end;
}

.provincia {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: calc(40px * (1536 / 1920));
  font-weight: 500;
}

.contenedor_imagen:hover .localidad {
  background-color: #fff;
}

.contenedor_imagen:hover .pais {
  color: #464547;
}

.contenedor_imagen:hover .provincia {
  color: #000;
}

.contenedor_imagen:hover .img_disp {
  display: block;
}

/* -------------- Copia ------------------- */

.propiedades_renta_2 {
  direction: rtl;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  align-items: center;
  justify-items: center;
}

.texto_derecha_2 {
  text-align: left;
  margin: 0 14.322917%; /* 110px/768px */
  /* Dividir la medida de 110 píxeles deseados para margin por el ancho del contenedor de 768 píxeles (resultado de del flex de 50% y 50% de una pantalla de 1536px) y luego multiplicar por 100 para obtener el porcentaje equivalente. */
}

.titulo_derecha2 {
  color: #df991b;
  font-family: var(--fuente-principal-regal);
  font-size: calc(40px * (1536 / 1920));
  font-weight: 400;
}

.titulo_h2_2 {
  color: #000;
  font-family: var(--fuente-principal-regal);
  font-size: calc(80px * (1536 / 1920));
  font-weight: 500;
}

.prrf_renta_2 {
  text-align: left;
  font-size: calc(25px * (1536 / 1920));
  line-height: calc(40px * (1536 / 1920));
  padding-top: 2.5rem;
  direction: ltr;
  /* Si no pongo este direction tengo problemas con los puntos finales */
}

.btn_slider_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  grid-row: 2 / 3;
  margin: 0 14.322917%;
}

.localidad_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.localidad_2 {
  background-color: #00000053;
  text-align: left;
  padding-left: 1.875rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.pais2 {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: calc(30px * (1536 / 1920));
  font-weight: 400;
}

.provincia2 {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: calc(40px * (1536 / 1920));
  font-weight: 500;
}

.contenedor_imagen:hover .localidad_2 {
  background-color: #fff;
}

.contenedor_imagen:hover .pais2 {
  color: #464547;
}

.contenedor_imagen:hover .provincia2 {
  color: #000;
}

.contenedor_imagen:hover:nth-of-type(1) .pais2::after {
  content: url("src/castle_2.svg");
  margin-right: 10px;
  /* el código se aplica cuando el contenedor .contenedor_imagen está en estado hover y afecta al primer elemento hijo con la clase .pais2, añadiendo un pseudo-elemento ::after con una imagen. Y use after porque la direccion esta inversa por el uso de la etiqueta direction*/
}

.contenedor_imagen:hover:nth-of-type(2) .pais2::after {
  content: url("src/two_houses.svg");
  margin-right: 10px;
  /* el código se aplica cuando el contenedor .contenedor_imagen está en estado hover y afecta al primer elemento hijo con la clase .pais2, añadiendo un pseudo-elemento ::after con una imagen. Y use after porque la direccion esta inversa por el uso de la etiqueta direction*/
}

.contenedor_imagen:hover:nth-of-type(3) .pais2::after {
  content: url("src/englad_house.svg");
  margin-right: 10px;
  /* el código se aplica cuando el contenedor .contenedor_imagen está en estado hover y afecta al primer elemento hijo con la clase .pais2, añadiendo un pseudo-elemento ::after con una imagen. Y use after porque la direccion esta inversa por el uso de la etiqueta direction*/
}

/* ------------- Seccion 3 ------------ */

.desarrollos {
  margin: 9.765625% 7.161458%; /* 110px/1536 */
  /* 150px / 1536 res de mi pantalla, 110px / 1536 */
}
.titulos_dsrll {
  text-align: center;
  margin-bottom: 3.125rem;
}
.tlo_1 {
  color: #df991b;
  font-family: var(--fuente-principal-regal);
  font-size: calc(40px * (1536 / 1920));
  font-weight: 400;
}
.tlo_h2 {
  color: #000;
  font-family: var(--fuente-principal-regal);
  font-size: calc(80px * (1536 / 1920));
  font-weight: 500;
}
.galeria_desarrollos {
  display: flex;
  flex-wrap: wrap;
}
.contenedor_img_dsrll {
  padding-right: 0.625rem; /* Espacio entre columnas */
  padding-bottom: 1.875rem;
  width: 25%;
}

/* El cuarto item en cada fila no debería tener padding derecho */
.contenedor_img_dsrll:nth-child(4n) {
  padding-right: 0;
}
/* indica que la cuenta se realiza en dirección inversa, desde el último hijo hacia el primero. En este caso, selecciona los últimos cuatro elementos. */
.contenedor_img_dsrll:nth-last-child(-n + 4) {
  padding-bottom: 0;
}

.img_dsrll {
  display: flex;
  /* Cuando una propiedad de flex no funciona o tiene un comportamiento raro probar colocando display flex en los hijos superiores al hijo flexible. Y asi mismo colocar flex al padre que contiene a todos esos hijos  */
  flex-direction: column;
  overflow: hidden;
}

.img_dsrll img {
  display: block;
  width: calc(25.8125rem * (1536 / 1920));
  height: calc(16.75rem * (864 / 1080));
  object-fit: cover;
  object-position: 50% 40%;
}

.construccion {
  padding-left: 0.625rem;
  padding-top: 1.5625rem;
}
.edificio {
  color: #464547;
  font-family: var(--fuente-principal-regal);
  font-size: calc(22px * (1536 / 1920));
  font-weight: 500;
}
.lugar {
  color: #000;
  font-family: var(--fuente-principal-regal);
  font-size: calc(35px * (1536 / 1920));
  font-weight: 600;
  letter-spacing: 1px;
}

/* ------------- Seccion 4 ------------ */

.mobile_suites_houses {
  display: none;
}

footer {
  display: grid;
  grid-template-columns: 7.161458% repeat(10, 1fr) 7.161458%;
  grid-template-rows: repeat(6, auto);
}

.formulario {
  grid-column: 2 / 12;
  grid-row: 1 / 3;
  width: calc(10% * 10);
  /* O 100%, las dos son formas de hacer un elemento responsivo */
  z-index: 1;
  height: calc(18rem * (864 / 1080));
  background-color: #26282b;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tls_form {
  width: 50%;
  padding-left: 9.765625%; /* 150px/1536 */
}

.join {
  color: #df991b;
  font-family: var(--fuente-principal-regal);
  font-size: calc(36px * (1536 / 1920));
  font-weight: 400;
}
.tlo_prnpl {
  color: #fff;
  font-family: var(--fuente-principal-regal);
  font-size: calc(60px * (1536 / 1920));
  font-weight: 500;
  line-height: 60px;
}
.datos {
  width: 50%;
  display: flex;
  padding-right: 9.765625%; /* 150px/1536 */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label[for="email"] {
  width: fit-content;
  text-align: left;
  color: #fff;
  font-size: calc(25px * (1536 / 1920));
  font-weight: 390;
  margin-bottom: 0.3125rem;
  padding-left: 2.5rem;
}

input[type="email"][id="email"] {
  border-radius: 100px;
  border: 1px solid #7e7e7e;
  background-color: #26282b;
  font-size: calc(20px * (1536 / 1920));
  color: #fff;
  outline: none; /* Quita el contorno al hacer clic en el input */
  padding: 0.75rem 1.875rem;
}

.btn_email {
  border-radius: 100px;
  border: 1px solid #df991b;
  background-color: #26282b;
  padding-top: 0.75rem;
  padding-right: 4.0625rem;
  padding-bottom: 0.75rem;
  padding-left: 4.0625rem;
  margin-top: 15px;
  align-self: flex-end;
  font-size: calc(30px * (1536 / 1920));
  color: #df991b;
}

.foot {
  width: calc(10% * 10);
  grid-column: 1 / 13;
  grid-row: 2 / 6;
  background-color: #000;
}

.cntdr_foot {
  display: flex;
  margin-top: 14.0625rem;
  align-items: flex-end;
  margin-right: 7.161458%;
  margin-left: 7.161458%;
  gap: 1rem;
  border-bottom: 0.0625rem solid #fff;
  padding-bottom: 1.875rem;
}

.ancho {
  width: 25%;
}

.logo_foot {
  padding-top: 1.875rem;
}

.log_ft {
  display: block;
  padding-bottom: 2.1875rem;
}

.log_ft img {
  display: block;
  width: calc(16.625rem * (1536 / 1920));
  height: calc(1.4931rem * (864 / 1080));
}

.become {
}
.relleno a {
  font-size: calc(30px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
}
.cntdr_suites {
  display: flex;
  justify-content: center;
}

.sts p {
  padding-bottom: 1.875rem;
}
.suites a {
  font-size: calc(30px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
}
.cntdr_houses {
  font-size: calc(30px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
  display: flex;
  justify-content: center;
}
.houses {
}

.hs_houses {
}
.hs_p {
}
.hs_aprtmnts {
}
.aprtmnts_p {
}
.cntct_us {
  display: block;
  padding-top: 1.875rem;
}
.cntct_p {
}

.call_center {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.call_rlln a {
  font-size: calc(30px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
  font-family: var(--fuente-principal-regal);
}
.tlfn a {
  font-size: calc(40px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
  font-family: var(--fuente-principal-regal);
}

.call_email a {
  display: block;
  font-size: calc(30px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
  padding-top: 1.875rem;
}

.redes_sociales_2 {
  display: none;
}

.copyright {
  text-align: center;
  grid-column: 1 / 13;
  grid-row: 6 / 7;
  background-color: #000;
  color: #ffffff;
  padding: 1.25rem 0;
}
p.copy {
  font-size: calc(20px * (1536 / 1920));
  line-height: calc(45px * (1536 / 1920));
  font-weight: 450;
}

/* ------------- Seccion 5 ------------ */

.seccion_art_mobile {
  display: none;
}

.seccion_art {
  display: grid;
  grid-template-columns: 7.161458% repeat(10, 1fr) 7.161458%;
  grid-template-rows: repeat(6, 16.66%);
  /* Con medidas absolutas y fijas hay q tener cuidado en caso de que el item sea mas grande q el contenedor */
  margin-bottom: 3.125rem;
  overflow-x: hidden;
  /* Si no oculto en x esta seccion se desborda */
}

.gray_art {
  grid-column: 2/6;
  grid-row: 1 /7;
}

.gry_cuadrado {
  /* width: 100%; */
  /* width: calc(16.6667% * 6); */
  /* ESTE CALCULO NO TIENE MUCHO SENTIDO PORQUE PREFERIBLE 100%, PERO: */
  /* 16.6667% es 1/6 para 6 columnas. Dividir 100% (el ancho total) por el número total de columnas (6). La unidad rem se refiere al tamaño de la fuente de la raíz del documento, mientras que el porcentaje (%) se basa en el ancho del elemento contenedor. */
  height: calc(58.75rem * (864 / 1080));
  min-height: 100%;
  background-color: #26282b;
}

.img_sala {
  grid-column: 3/7;
  grid-row: 1 /7;
  align-self: center;
}

.img_sala {
}

.img_sala img {
  /* imagen cuadrada */
  display: block;
}

.decor {
  grid-column: 8/12;
  grid-row: 1 /2;
  align-self: flex-end;
}

.decor img {
  width: calc(49.5625rem * (1536 / 1920));
  height: calc(7.1013rem * (864 / 1080));
  object-fit: cover;
  display: block;
}

.art_cntndr_ttls {
  grid-column: 8/12;
  grid-row: 2 /5;
  padding-left: calc(30px * (1536 / 1920));
  padding-top: 3.125rem;
}
.art_servicies {
  color: #df991b;
  font-family: var(--fuente-principal-regal);
  font-size: calc(2.5rem * (1536 / 1920));
  font-weight: 400;
}
.art_titulos {
  color: #000;
  font-family: var(--fuente-principal-regal);
  font-size: calc(5rem * (1536 / 1920));
  font-weight: 500;
}
.prrf_art {
  color: #000;
  font-family: Brandon Grotesque;
  font-size: calc(25px * (1536 / 1920));
  line-height: calc(40px * (1536 / 1920));
  font-weight: 330;
  padding-top: 2.5rem;
}
.btn_slider {
  padding-left: calc(30px * (1536 / 1920));
  grid-column: 8/12;
  grid-row: 5 /6;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.prev2 {
  display: flex;
}

.prev2 a {
}

.prev2 img {
  padding-right: 0.625rem;
}

.btn_cntct a {
  color: #000;
  font-size: calc(30px * (1536 / 1920));
  font-weight: 390;
  border-radius: 100px;
  border: 1px solid #000;
  padding: 0.75rem 4.0625rem;
}

.next2 {
  display: flex;
}

.next2 a {
  color: #df991b;
}

.next2 img {
  padding-left: 0.625rem;
}

@-moz-document url-prefix() {
  .seccion_art {
    /* grid-template-rows: auto repeat(4, 1fr) auto; */
    grid-template-rows: repeat(6, 1fr);
  }

  .btn_slider {
    grid-row: 5 /6;
    align-items: flex-end;
  }
}

/* ----- Para imgs responsivas -----  */
/* .img_sala {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  .img_sala img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  } */

/* ------------------------------- */

/* -------------- Medidad provisorias ----------------- */

@media screen and (max-width: 1432px) {
  .seccion_art {
    grid-template-rows: repeat(6, 16.66%);
  }

  .img_sala img {
    height: clamp(400px, 450px, 614px);
    /* 614px es la medida "original". En realidad la medida original era un poco mas de 800px pero al colocar la medida con calc en el navegador tomo la medida de 614px por lo que luego modifique la img original en photoshop y le cambie su tamano a 614px */
  }

  .gry_cuadrado {
    height: auto;
  }
}

@media screen and (max-width: 1130px) {
  .inicio_registro {
    display: none;
  }

  .idiomas {
    display: none;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: initial;
  }

  /* -------------- propiedades_renta_1 -------------- */
  .propiedades_renta_1 {
    /* Asegura que en dispositivos móviles, se apilen verticalmente */
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .presentacion_derecha {
    order: 1; /* Cambia el orden en dispositivos móviles */
  }

  .presentacion_izquierda {
    order: 2; /* Cambia el orden en dispositivos móviles */
  }

  .contenedor_galeria {
    justify-content: center;
  }

  .texto_derecha {
    text-align: left;
    padding: 60px 5%;
    margin: 0;
    width: fit-content;
  }

  .btn_slider_2 {
    padding: 60px 5%;
    flex-direction: column;
    align-items: initial;
    text-align: left;
    margin: 0;
  }

  .view_properties a {
    padding-left: initial;
    border-radius: initial;
    border: initial;
    padding: initial;
    -webkit-border-radius: initial;
    -moz-border-radius: initial;
    -ms-border-radius: initial;
    -o-border-radius: initial;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  /* -------------- propiedades_renta_2 --------------- */

  .propiedades_renta_2 {
    /* Asegura que en dispositivos móviles, se apilen verticalmente */
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .texto_derecha_2 {
    text-align: left;
    margin: 0;
    padding: 60px 5%;
    display: flex;
    flex-direction: column;
  }

  .prrf_renta_2 {
    max-width: 600px;
    width: 100%;
    align-self: flex-end;
  }

  /* -------------- desarrollos --------------- */

  .titulos_dsrll {
    .tlo_1 {
      font-size: calc(40px * (320 / 428));
    }
    .tlo_h2 {
      font-size: calc(60px * (320 / 428));
    }
  }

  .contenedor_img_dsrll {
    width: 33.33%;
  }

  .contenedor_img_dsrll:nth-child(3n) {
    padding-right: 0;
  }

  .contenedor_img_dsrll:nth-child(4n) {
    padding-right: 0.625rem;
  }

  .contenedor_img_dsrll:nth-last-child(-n + 4) {
    padding-bottom: 1.875rem;
  }
}

@media screen and (min-width: 514px) and (max-width: 846px) {
  .contenedor_img_dsrll {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 0.3125rem !important;
    padding-left: 0.3125rem !important;
  }

  .contenedor_img_dsrll::nth-child(n) {
    padding-right: initial;
    padding-left: initial;
  }
}

@media screen and (min-width: 0px) and (max-width: 514px) {
  .desarrollos {
    margin: 0;
  }

  .titulos_dsrll {
    text-align: left;
    padding-left: 5%;
  }

  .contenedor_img_dsrll {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .contenedor_img_dsrll::nth-child(n) {
    padding-right: initial;
    padding-left: initial;
  }

  .cntdr_foot {
    border-bottom: initial;
  }

  .copyright {
    border-top: 0.0625rem solid #fff;
  }

  .img_dsrll {
    position: relative;
  }
  .img_dsrll img {
    width: 450px;
  }

  .construccion {
    padding-left: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2.5%;
  }
}

@media screen and (min-width: 0px) and (max-width: 794px) {
  .formulario {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 5% 5%;
  }

  .datos {
    width: 100%;
    display: initial;
    padding-right: 0;
  }

  .tls_form {
    width: auto;
    padding: 0;
  }

  .btn_email {
    align-self: flex-start;
    /* Y si quisiera q tuviese ambos inputs el mismo ancho y q ocupasen todo el ancho del contenedor entonces probar con auto para ajustar el ancho del boton/input acorde al input de entrada*/
  }
}

@media screen and (min-width: 0px) and (max-width: 1130px) {
  .buscador {
    grid-column: 3 / 5;
    padding: 0 1.25rem;
    justify-self: center;
  }

  .barra {
    display: none;
  }

  .seccion_art {
    display: none;
  }

  .seccion_art_mobile {
    display: flex;
    flex-direction: column;
  }

  .parte_superior {
    display: flex;
    flex-direction: column;
  }

  .decor_2 {
    align-self: flex-end;
  }

  .decor_2 img {
    width: calc(49.5625rem * (1536 / 1920));
    object-fit: cover;
    display: block;
  }
  .art_cntndr_ttls_2 {
    padding-left: calc(30px * (1536 / 1920));
    padding-top: 3.125rem;
  }
  .art_servicies_2 {
    color: #df991b;
    font-family: var(--fuente-principal-regal);
    font-size: calc(2.5rem * (1536 / 1920));
    font-weight: 400;
  }
  .art_titulos_2 {
    color: #000;
    font-family: var(--fuente-principal-regal);
    font-size: calc(5rem * (1536 / 1920));
    font-weight: 500;
  }
  .prrf_art_2 {
    color: #000;
    font-family: Brandon Grotesque;
    font-size: calc(25px * (1536 / 1920));
    line-height: calc(40px * (1536 / 1920));
    font-weight: 330;
    padding-top: 2.5rem;
  }
  .btn_slider_2 {
  }
  .prev2_2 img {
    padding-right: 0.625rem;
  }
  .btn_cntct_2 {
    color: #000;
    font-size: calc(30px * (1536 / 1920));
    font-weight: 390;
    border-radius: 100px;
    border: 1px solid #000;
    padding: 0.75rem 4.0625rem;
  }
  .next2_2 a {
    color: #df991b;
  }

  .next2_2 img {
    padding-left: 0.625rem;
  }

  .parte_inferior {
    display: grid;
    grid-template-rows: 10% repeat(4, 25%) 10%;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 20%;
  }
  .gray_art_2 {
    grid-column: 1/5;
    grid-row: 1/7;
  }
  .gry_cuadrado_2 {
    min-height: 100%;
    background-color: #26282b;
  }
  .img_sala_2 {
    grid-column: 2/7;
    grid-row: 2/6;
  }

  .img_sala_2 img {
    max-width: 100%;
    display: block;
  }
}

@media screen and (min-width: 0px) and (max-width: 626px) {
  .parte_superior {
    overflow: hidden;
  }

  .decor_2 {
    align-self: flex-start;
    overflow: hidden;
  }

  .decor_2 img {
    width: initial;
    height: clamp(53px, 70px, 90px);
  }
}

@media screen and (min-width: 485px) and (max-width: 545px) {
  .decor_2 {
    align-self: flex-start;
  }

  .decor_2 img {
    height: clamp(53px, 80px, 90px);
  }
}

@media screen and (min-width: 545px) and (max-width: 626px) {
  .decor_2 {
    align-self: flex-end;
  }

  .decor_2 img {
    height: clamp(53px, 80px, 90px);
  }
}

@media screen and (min-width: 0px) and (max-width: 1029px) {
  /* ---------- foot ----------- */

  .cntdr_foot {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .ancho {
    width: auto;
  }

  .call_center {
    justify-content: initial;
    text-align: initial;
    width: 289.69px;
  }

  .logo_foot {
    padding-top: 3.75rem;
  }

  .redes_sociales_2 {
    display: flex;
    width: 289.69px;
    /* width: 100%; */
    /* El width 100% solo lo coloque como ejemplo para q se note la importancia de definir un ancho fijo en este caso para q todos los elementos del footer esten centrados pero alineados desde el mismo comienzo del lado izquierdo */
    gap: 30px;
  }

  .redes_sociales_2 img {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
  }

  /* ------- arreglo al footer -------- */

  .cntdr_suites {
    display: none;
  }

  .cntdr_houses {
    display: none;
  }

  .mobile_suites_houses {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: 289.69px;
  }

  .cntdr_suites_2 {
  }
  .ancho_2 {
  }
  .sts_2 {
  }
  .suites_2 {
    font-size: calc(30px * (1536 / 1920));
    line-height: calc(45px * (1536 / 1920));
  }
  .cntdr_houses_2 {
    font-size: calc(30px * (1536 / 1920));
    line-height: calc(45px * (1536 / 1920));
  }

  .call_email a {
    padding-top: 0;
  }

  .houses_2 {
  }
  .hs_houses_2 {
  }
  .hs_p_2 {
  }
  .hs_aprtmnts_2 {
  }
  .aprtmnts_p_2 {
  }
  .cntct_us_2 {
  }
  .cntct_p_2 {
  }
}

@media screen and (min-width: 0px) and (max-width: 338px) {
  .become {
    width: 289.69px;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .logo_mobile {
    display: block;
  }

  .logo_uniqluxury {
    display: none;
  }

  .buscador {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    height: 70%;
    padding: 0 8%;
    width: 100%;
    align-self: center;
  }

  .contenedor_titulo {
    grid-area: 4 / 1 / 6 / 5;
    padding: 0 10%;
    /* width: max-content; */
    /* Muy util el max-content para lograr acomodar en el centro una tipografia (obvio junto a otras propiedades. El fit-content tamb podria ser util con botones*/
    width: 100%;
    margin: 0 auto;
  }

  .titulo p {
    font-size: 10vw;
  }

  .titulo h1 {
    font-size: 15vw;
  }

  .btn a {
    padding-left: 4%;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .contenedor_titulo {
    grid-area: 4 / 1 / 6 / 5;
    justify-self: center;
  }

  .btn a {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 800px) and (max-width: 1130px) {
  .contenedor_titulo {
    grid-area: 4 / 1 / 6 / 5;
    justify-self: center;
  }
}
