* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-snap-type: y mandatory;
}

body {
  min-height: 100%;
}

.seccion_inicio {
  /* scroll-snap-align: start; */
  width: 100%;
  height: 100vh;
  /* height: auto; Si fuese con flex el main para que no se desborde es necesario el valor por defecto */
  background-image: url(images/hotel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
  background-color: #cccccc79;
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.encabezado {
  display: flex;
  justify-content: space-between;
}

.navegador {
  display: flex;
}

.navegador a {
  padding: 1.25rem 1.5625rem;
}

.inicio_registro {
  display: flex;
  padding-right: 1.875rem;
}

.idiomas {
  display: flex;
}

.logo {
  display: grid;
  place-content: center;
  padding-left: 3.125rem;
}

.logo img {
  width: calc(266px * (1536 / 1920));
  height: calc(23.89px * (864 / 1080));
  object-fit: contain;
}

.navegador {
  display: flex;
  align-items: center;
}

.menu_icon {
  padding-right: 3.125rem !important;
}

.menu_icon img {
  width: calc(45px * (1536 / 1920));
  height: calc(30px * (864 / 1080));
  object-fit: contain;
}

main {
  height: 100vh;
  /* Necesario para que el grid ocupe el tamano de la vista */
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(12, 1fr);
  gap: 1rem 1rem;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  grid-area: 2 / 1 / 5 / 1;
  /* Con fixed nuevamente hay q acomodarlo!  */
  position: fixed;
  top: 12.5rem;
  z-index: 1;
}

.follow {
  /* La proxima tratar con otra tag q no sea span o probar como colocar un display: inline-block a span  */
  transform: rotate(90deg);
  padding: 1.7rem;
}

.divisor {
  width: 0.0313rem;
  height: 6.25rem;
  background-color: black;
  margin-top: 0.3rem;
}
.redes_sociales a {
  display: flex;
  flex-direction: column;
  padding: 0.3125rem;
}
.redes_sociales img {
  width: 0.9375rem;
  height: 0.9375rem;
  object-fit: contain;
}

.buscador {
  grid-column: 9 / span 4;
  grid-row: 2 / 3;
  align-self: flex-start;
  text-align: center;
}

.buscador input {
  border: none; /* Quita el borde predeterminado */
  outline: none; /* Quita el contorno al hacer clic en el input */
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.contenedor_titulo {
  /* height: 100vh; Siempre necesario con flex para definir el tamano relativo del contenedor a la vista y tener espacio para acomodar los elementos */
  grid-area: 4 / 2 / 6 / 5;
}

.titulo {
}
.btn a {
}

.propiedades_renta_1 {
  height: 100vh;
  /* Necesario para que el grid ocupe el tamano de la vista */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  align-items: center;
  justify-items: center;
}

.presentacion_derecha {
  /* Necesario para que el grid ocupe el tamano de la vista */
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto) / auto 1fr auto;
  gap: 17.8125rem 7.5rem;
}

.texto_derecha {
  grid-area: 1/ 2/ 2 / 3;
  text-align: right;
}

.titulo_derecha {
}
.titulo_h2 {
}
.btn_slider {
  grid-area: 2/ 2/ 3 / 3;
  text-align: center;
}
.prev {
}
.view_properties {
}
.next {
}

.presentacion_izquierda {
}
.galeria_1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
}

.contenedor_galeria {
  grid-column: span 6;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  overflow: hidden;
}

.contenedor_imagen {
  position: relative;
}

.galeria_1 img {
  display: block;
  margin: 0 auto;
  max-width: calc(407px * (1536 / 1920));
  /* max-width: 100% Solo para responsive; */
}

.localidad p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: .625rem;

}

.localidad p span {
  display: inline-block;
}

.pais {
  margin-bottom: 0.5313rem;
}
.provincia {
  margin-bottom: 0.5313rem;

}
